body{
    margin:0;
    padding: 0;
    background-color:#309898;
}
#clock{
    height: 100px;
    width: 250px;
    background-color:#FF9F00;
    margin:auto;
    margin-top: 250px;
    border-radius:20px;
    color:aliceblue;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}